// banner css 
.career__banner__sec{
    padding: 243px 0 160px;
    .breadcrums {
        margin-bottom: 81px;
        a,
        span {

            font-weight: 500;
            font-size: 25px;
            line-height: 36px;
            color: #fff;
            transition: 0.4s;

            &:hover {
                background: linear-gradient(to right, #D177A5, #7A70E1, #7EA9C2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .active__link {
            font-weight: 800;
            background: linear-gradient(to right, #D177A5, #7A70E1, #7EA9C2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .sec__content__inner{
        display: flex;
        align-items: center;
        gap: 47px;

        .sec__image {
            width: 40%;
        }
        
        .sec__text{
            width: 57%;
            .sec__heading{
                margin-bottom: clamp(30px,7vw,111px);
            }
            .sec__info{
                font-weight: 500;
                font-size: clamp(16px,2vw,25px);
                line-height: clamp(20px,3vw,36px);
                color: #BABFC5;
                &:not(:last-child){
                    margin-bottom: clamp(15px,3vw,35px);
                }
            }
        }
    }

}

// grow sec css 
.grow__sec{
    .sec__content__inner {
        display: flex;
        align-items: center;

        .sec__img {
            width: 50%;
        }
        .sec__text {
            width: 50%;
            .sec__brief{
                color: #D4DBFC;
                line-height: clamp(20px,4vw,51px);
                max-width: 616px;
                width: 100%;
            }
            .email__resume {
                max-width: 530px;
                margin: 0 0 0 auto;
                margin-top: clamp(50px,8vw,134px);
            }
        }
    }
}