// global map annimate rotate

// @keyframes HeroGlobal {
//   100% {
//     opacity: 1;
//   }

//   from {
//     transform: rotateY(0deg) rotateX(40deg);
//   }
//   to {
//     transform: rotateY(-359deg) rotateX(-40deg);
//   }
// }
// .global_img {
//   // transform: rotateY(45deg);
//   animation: HeroGlobal 10s linear forwards infinite;
// }

// @keyframes global {
//   100% {
//     background-position: 100%;
//   }
// }

// .globel__sec__img {
//   height: 500px;
//   width: 500px;
//   background-image: url(../image/Map2.png);
//   background-position: -50%;
//   background-size: auto 450px;
//   background-repeat: repeat no-repeat;
//   box-shadow: 0 0 50px #000, 0 0 100px #303031, inset 0 0 30px #555557;
//   border-radius: 50%;
//   animation: global 50s linear infinite;
// }

.globel__sec__img {
  position: relative;
  height: 500px;
  width: 500px;
  background: url(../image/Map2.png) repeat no-repeat;
  border-radius: 50%;
  transition: 0;
  background-position: -50%;
  background-size: auto 450px;
  animation: rotate 30s linear infinite;
  transition: transform 500ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1), 0px 0 30px #55555731;
  opacity: 1 !important;
}
.globel__sec__img:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 80px 15px 60px 10px rgba(0, 0, 0, 0.8) inset,
    -80px 15px 60px 10px rgba(0, 0, 0, 0.8) inset;
  height: 500px;
  width: 500px;
  background: url(../image/Map2.png) repeat no-repeat;
  border-radius: 50%;
  background-position: 100%;
  background-size: auto 450px;
  animation: bgrotate 30s linear infinite;
  transition: transform 500ms linear;
  transform-style: preserve-3d;

  opacity: 0.1 !important;
  // background-color: red;
}

@keyframes bgrotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.globel__sec__img:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #0b0e1e, #0b0e1e);
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -630px 0;
  }
}
// .werwrr {
//   animation: globaltop 50s linear infinite;
// }
// @keyframes globaltop {
//   from {
//     transform: rotateY(0deg);
//   }
//   to {
//     transform: rotateY(-360deg);
//   }
// }

// global map annimate rotate end

// annimate map dotted pulsed--------------------

@keyframes dotpulse {
  // 100% {transform: rotate(45deg)}
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.connectdot {
  animation: dotpulse 1s linear infinite;
}

@keyframes qwer {
  0% {
    stroke-dashoffset: 700;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -700;
  }
}
.isactive.connectline {
  stroke-dasharray: 700;
  animation: qwer 5s linear infinite forwards;
}

.is-visible.Vector-17 {
  width: 50px;
  height: 5px;
  offset-distance: 0%;
  background-color: rgb(54, 54, 189);
  offset-path: path("M210.501 903C231 554 863.5 608.5 915.999 106.5");
  animation: dash 10s linear infinite;
}

.is-visible.Vector-19 {
  width: 50px;
  height: 5px;
  offset-distance: 0%;
  background-color: rgb(54, 54, 189);
  offset-path: path("M210 901.5C210 534 791.999 543.5 881.499 110");
  animation: dash 15s linear infinite;
}

.is-visible.Vector-20 {
  width: 50px;
  height: 5px;
  offset-distance: 0%;
  background-color: rgb(54, 54, 189);
  offset-path: path("M209.999 903C196.499 522.5 772.999 481.5 861 26.4999");
  animation: dash 20s linear infinite;
}

.line1 {
  stroke-dasharray: 1340;
  stroke-dashoffset: 140;
  animation: dash 5s linear alternate infinite;
}

.line2 {
  stroke-dasharray: 1320;
  stroke-dashoffset: 1320;
  animation: dash2 5s linear alternate infinite;
}

.is-visible.Vector20 {
  stroke-dasharray: 1340;
  stroke-dashoffset: 140;
  animation: dash 4s linear alternate infinite;
}

.is-visible.Vector21 {
  stroke-dasharray: 1320;
  stroke-dashoffset: 1320;
  animation: dash2 4s linear alternate infinite;
}

.is-visible.Vector22 {
  stroke-dasharray: 1340;
  stroke-dashoffset: 140;
  animation: dash 6s linear alternate infinite;
}

.is-visible.Vector23 {
  stroke-dasharray: 1320;
  stroke-dashoffset: 1320;
  animation: dash2 6s linear alternate infinite;
}

// bg_line class path
.is-visible.Vector24 {
  stroke-dasharray: 1340;
  stroke-dashoffset: 140;
  animation: dash 2s linear alternate infinite;
}

.is-visible.Vector25 {
  stroke-dasharray: 1320;
  stroke-dashoffset: 1320;
  animation: dash2 2s linear alternate infinite;
}

.is-visible.Vector26 {
  stroke-dasharray: 1340;
  stroke-dashoffset: 140;
  animation: dash 4s linear alternate infinite;
}

.is-visible.Vector27 {
  stroke-dasharray: 1320;
  stroke-dashoffset: 1320;
  animation: dash2 4s linear alternate infinite;
}

.is-visible.Vector28 {
  stroke-dasharray: 1340;
  stroke-dashoffset: 140;
  animation: dash 6s linear alternate infinite;
}

.is-visible.Vector29 {
  stroke-dasharray: 1320;
  stroke-dashoffset: 1320;
  animation: dash2 6s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1360;
  }
  to {
    stroke-dashoffset: 140;
  }
}

@keyframes dash2 {
  from {
    stroke-dashoffset: 1280;
  }
  to {
    stroke-dashoffset: -140;
  }
}

@keyframes marker {
  from {
    -webkit-transform: translate(1em, 0);
    -webkit-transition: 1s ease-in-out;
  }
}

span.pointer.lenovo {
  left: 79%;
  top: 6%;
  transform: scale3d(1.5, 1.5, 1.5);
  animation: marker 2s linear infinite alternate;
}

span.pointer.cox {
  left: 14%;
  top: 15%;
  transform: scale3d(1.5, 1.5, 1.5);
  animation: marker 2s linear infinite alternate;
}

span.pointer {
  position: absolute;
  height: 100px;
  width: 10px;
  background-image: url(../image/marker.png);
}

// .Vector17 {
//   width:50px;
//   height: 5px;
//   offset-distance: 0%;
//   background-color: rgb(206, 22, 32);
//   offset-path: path('M1276.33 810.102C1204.18 449.754 635.375 573.335 462.506 165.844');
//   animation: dash 5s linear infinite alternate;
// }

// @keyframes dashoffset {
//   from {
//     offset-distance: 100%;
//   }
//   to {
//     offset-distance: 0%;
//   }
// }

// @for $i from 1 through 1000 {
//     .svg_map_dot  path:nth-child(#{$i}) {
//       animation: pulse 1s linear infinite alternate;
//     }
// }

// @keyframes vectordash {
//   from {
//     stroke-dashoffset: 100;
//   }
//   to {
//     stroke-dashoffset: -50;
//   }
// }

// .is-vector-visible .Vector20{
//   stroke-dasharray: 100;
//   stroke-dashoffset: 100;
//   animation: vectordash 1.5s alternate infinite;
// }

// annimate map dotted pulsed end--------------------
