#heroShapeanimation {
  background-color: red;
  height: 200px;
  width: 200px;
  animation: shape 1s infinite linear alternate;
}
@keyframes shape {
  0% {
    // height: 200px;
    // width: 200px;
    border-radius: 100%;
  }
  10% {
    border: 100px solid #000;
  }
  20% {
    border-bottom: 100px solid #000;
  }
  30% {
    border-top: 100px solid #000;
  }
  40% {
    border-left: 100px solid #000;
  }
  50% {
    border-right: 100px solid #000;
  }
}
