// === RESPONSIVE CSS 1440PX START === //
@media only screen and (max-width: 1440px) {

  // Service responsive max-width 1400px
  .sec__service .service__banner__img svg {
    width: 400px;
    height: 400px;
    margin-right: 160px;
  }

  .sec__service.sec--industries .sec__content {
    padding-top: 300px;
  }

  .tabs__content.industries--tabs {
    top: 300px;
  }

  // Faq responsive max-width 1440px
  .sec__service .service__faq .container {
    gap: 50px;
  }

  // Section Why Edge responsive max-width 1440px
  .sec__why__edge .edge__features ul {
    margin: 90px auto 0 500px;
  }

  // Section Partner Banner responsive max-width 1440px
  .industrie__banner.sec--partner--banner {

    .banner__image,
    .banner__text {
      width: 45% !important;
    }
  }

  // Index Responsive 1440px
  .tmb__hero__sec .hero__content {
    grid-template-columns: 60% 40%;
  }

  .globel__sec__content {
    grid-template-columns: 35% 62%;
    gap: 40px;
  }

  .tmb__hero__sec .connect_hero_global_map {
    top: 52%;
    transform: translateX(-50%) rotate(-1deg) scale(1.25);
  }

  .tmb__globel__sec .bg__lines {
    top: 78%;
    left: 49%;
    transform: translateX(-50%) scale(1.8) rotate(1deg);
  }

  .sec__service .service__banner__img {
    padding-right: 0;
  }

  // Brodcast banner Section 1400px
  .brodcast__detail__banner .sec__content {
    gap: 20px;

    .founders__sec .about__bg__ele {
      left: -20%;
    }
  }


  // index banner animation
  @keyframes HeroGlobalimg {
    from {
      -webkit-transform: rotate(0deg) skew(-5deg) scale(0.8);
    }

    to {
      -webkit-transform: rotate(359deg) skew(5deg) scale(0.8);
    }
  }
}

// === RESPONSIVE CSS 1440PX end === //
@media only screen and (max-width: 1200px) {
  // === RESPONSIVE CSS 1200PX START === //

  // common responsive css start
  .cursor__wrapper {
    display: none;
  }

  .founders__sec {
    .about__bg__ele {
      display: none;
    }
  }

  // footer responsive max-width 1200px
  .footer {
    padding: 50px 0;
  }

  .footer__content {
    flex-direction: column;
    margin-bottom: 45px;
  }

  .submit__btn button {
    margin: 3px 3px 3px -3px;
    width: 100%;
  }

  .footer__text,
  .footer__items__wrapper {
    flex-direction: column;
  }

  .footer__text__inner,
  .footer__items__inner,
  form.footer__form {
    width: 100%;
    max-width: 100%;
  }

  // === industrie Page start === //
  .industrie__banner {
    padding: 150px 0;

    .banner__inner {
      flex-direction: column-reverse;
      gap: 50px;

      .banner__text,
      .banner__image {
        width: 100%;
      }

      .banner__image {
        text-align: center;
      }
    }
  }

  .faq__sec {
    .container {
      margin: 0;
    }

    .sec__content {
      .sec__content__inner {
        flex-direction: column;
        gap: 25px;

        .sec__image,
        .sec__text {
          width: 100%;
        }

        .sec__image {
          text-align: center;
        }
      }
    }
  }

  .sec__why__edge .edge__features ul {
    margin: 90px auto 0 300px;
  }

  .tabs__content.industries--tabs {
    right: 50px;
  }

  // Partner Banner Section
  .industrie__banner.sec--partner--banner .banner__inner {
    flex-direction: initial;
  }

  .industrie__banner.sec--partner--banner .banner__image svg {
    width: 500px;
  }

  .industrie__banner.sec--partner--banner .banner__image,
  .industrie__banner.sec--partner--banner .banner__text {
    width: 50% !important;
  }

  // sustainable page css start
  .sustainable__banner {
    .sec__content__inner {
      flex-direction: column-reverse;
      gap: 10px;

      .sec__text,
      .sec__image {
        width: 100%;
      }

      .sec__text {
        .sec__info {
          max-width: 100%;
        }
      }

      .sec__image {
        text-align: center;
      }
    }
  }

  // sustainable page css end
  // Hero Section Css 1200px
  .tmb__hero__sec .hero__content {
    grid-template-columns: 70% 30%;
  }

  .globel__sec__content {
    grid-template-columns: 1fr;

    .globel__sec__img {
      text-align: center;
    }
  }

  .deploy__sec__content {
    grid-template-columns: 1fr;

    .deploy__sec__txt {
      grid-row: 2;
    }
  }

  .crd__grid {
    grid-template-columns: 1fr;
  }

  .crd__grid__item .crd__content {
    padding: 60px 30px;
  }

  .testimonial__img {
    grid-row: 1;
    text-align: center;
    margin-bottom: 30px;
  }

  .testimonial__grid {
    grid-template-columns: 1fr;
  }

  .testimonial__grid .profile__img {
    height: 56px;
    width: 56px;
  }

  .user__info {
    gap: 28px;
  }

  .testimonial__text svg {
    width: 16px;
    height: 25px;
  }

  .testimonial__text {
    gap: 5px;
  }

  .info__crd__sec {
    padding: 70px 0;

    .swiper-wrapper {
      display: flex;
    }

    .crd__content {
      text-align: start;
    }
  }

  // about us page responsive start

  .about__banner {
    .sec__content {
      .sec__content__inner {
        align-items: flex-start;
      }
    }
  }

  .contact--us--sec .sec__content {
    flex-direction: column-reverse;
    display: flex !important;
  }

  // about us page responsive start
  .sec__service .sec__text {
    width: 40%;
  }

  .sec__service .service__banner__img svg {
    margin-right: 100px;
  }

  // Podacst responsive css start
  .podcast__banner__sec {
    .sec__content {
      .jp-type-playlist {
        padding: 20px;
      }

      .sec__content__inner {
        .sec__text {
          width: 70%;
        }
      }
    }
  }

  // Podacst responsive css start

  .connect_hero_global_map {
    display: none;
  }

  .tmb__globel__sec {
    .bg__lines {
      display: none;
    }
  }

  .cursor__wrapper {
    display: none !important;
  }

  .testimonial__list {
    min-height: auto;
  }
}

// === RESPONSIVE CSS 1200PX END === //

// === RESPONSIVE CSS 1024PX Start === //
@media only screen and (max-width: 1024px) {

  // about page responsive css start
  .founders__sec {
    .sec__content {
      .sec__content__inner {
        flex-direction: column;
        align-items: flex-start;

        .sec__text,
        .sec__image {
          width: 100%;
        }

        .sec__text {
          .sec__heading {
            max-width: 100%;
          }
        }

        .sec__image {
          justify-content: space-evenly;
          max-width: 100%;
        }
      }
    }
  }

  // about page responsive css start
  /* Service Responsive 991px */
  .sec__service .sec__content {
    gap: 50px;
  }

  .sec__service .sec__text {
    padding-right: 50px;
  }

  .sec__service .sec__content {
    display: block;
  }

  .sec__service .sec__text {
    border-right: none;
  }

  .service__tabs.desktop__tabs {
    display: none;
  }

  .sec__service .service__tabs.mobile__tabs .tabs__button {
    display: block !important;
  }

  .service__banner__img {
    display: none;
  }

  .tabs__button.active~.sec__img .tabs__content {
    display: block;
  }

  .sec__service .tabs__item {
    display: block;
  }

  .sec__service .sec__text {
    position: inherit;
  }

  .industries__tabs__button {
    text-align: start;
    position: relative;
  }

  .tabs__button,
  .industries__tabs__button {
    border-bottom: 1px solid #d4dbfc !important;
    width: 100%;
    padding-bottom: 25px;
    position: relative;
  }

  .tabs__button::after,
  .industries__tabs__button::before,
  .industries__tabs__button::after,
  .tabs__button::before {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 12.5px);
    transform: translateY(-50%);
    height: 2px;
    width: 16px;
    background-color: #babfc5;
  }

  .tabs__button::before,
  .industries__tabs__button::before {
    transform: rotate(90deg);
  }

  .tabs__button.active::before,
  .industries__tabs__button.active::before {
    transform: rotate(0deg);
  }

  .tabs__item .sec__img,
  .tabs__item .service__bottom__img,
  .tabs__item .service__faq {
    display: none;
  }

  .tabs__button.active~div {
    display: block;
  }

  .sec__service.sec--industries .sec__text {
    padding-right: 0;
    width: 100%;
  }

  .tabs__content.industries--tabs {
    position: initial;
    max-width: 100%;
    margin-bottom: 40px;
  }

  // about us page start
  .counter__sec {
    padding: 180px 0;

    .sec__content {
      .counter__grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  // about us page end
  .sec__service.sec--industries {
    .sec__content {
      padding-bottom: 0px;
    }
  }

  .sec__service .service__tabs li:last-child .tabs__button {
    margin-bottom: 41px;
  }
}

// === RESPONSIVE CSS 1024PX END === //

// === RESPONSIVE CSS 991PX START === //
@media only screen and (max-width: 991px) {

  // header responsive css 991px start
  main {
    padding-top: 110px;
  }

  .toggle__btn {
    svg {
      display: block;
    }
  }

  .header {
    .contact__btn {
      display: none;
    }
  }

  .col-lg-hide {
    display: block;
  }

  .header {
    top: 0;
    padding: 30px 0;
    background-color: #0b0e1e;
  }

  nav.nav__list {
    position: absolute;
    background-color: #0b0e1e;
    width: 320px;
    right: 0;
    top: 110px;
    height: 100%;
    min-height: 100vh;
    z-index: 9;
    left: auto;
    padding: 30px;
    transform: translateX(100%);
    transition: 0.4s;
  }

  .dropdown {
    .dropdown__item {
      a {
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  .nav__list.show {
    transform: translateX(0);
  }

  .nav__list ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .toggle__btn {
    svg {
      path.first {
        transition: 0.4s;
      }

      path.second {
        transition: 0.4s;
      }

      path.third {
        transition: 0.4s;
      }
    }
  }

  .toggle__btn {
    svg.cross {
      path.first {
        transform: translateX(100%);
        opacity: 0;
      }

      path.second {
        transform: translate(5px, -11px) rotate(45deg);
      }

      path.third {
        transform: translate(0px, 13px) rotate(-45deg);
      }
    }
  }

  .dropdown {
    position: static;
    background: none;
    height: 0;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
    transition: all 0.4s;
    transform: translateY(0px);
  }

  .nav-modifier {
    color: #fff;
    background: none !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
  }

  .nav-modifier::after,
  .nav-modifier::before {
    left: 95%;
  }

  .nav-modifier:hover::after,
  .nav-modifier:hover::before {
    background: #fff;
  }

  .social__icons {
    display: block;
    position: absolute;
    bottom: 110px;
    right: 30px;
  }

  .informational__pages {
    display: block;
    margin-top: 66px;

    .copywrite__info,
    .copywrite__links a {
      font-weight: 700;
      color: #BABFC5;
    }
  }

  /* Service Responsive 991px */
  .sec__service .sec__content {
    gap: 100px;
  }

  .sec__service .service__banner__img svg {
    margin-right: 0px;
  }

  /* FAQ Responsive 991px */
  .sec__service .service__faq .container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .sec__service .service__banner__img svg {
    width: 50%;
  }

  .sec__service .sec__text {
    padding-right: 0;
  }

  .sec__why__edge .edge__features ul {
    margin: 90px 0 0;
    max-width: 100%;
  }

  .sec__why__edge .edge__features ul li {
    margin-bottom: 30px;
  }

  .sec__service .faq__heading {
    font-size: 50px;
  }

  .sec__service .sec__text {
    width: 38%;
  }

  // === career Page start === //
  .career__banner__sec {
    .sec__content__inner {
      flex-direction: column;
      gap: 22px;

      .sec__image {
        width: 100%;
        text-align: center;
      }

      .sec__text {
        width: 100%;
      }
    }

    // Section Best Solution 991px */
    .sec__best__solution .sec__heading {
      font-size: 40px;
      padding-bottom: 50px;
    }

    // === RESPONSIVE CSS 991PX end === //
    .breadcrums {
      display: none !important;
    }
  }

  // === career Page end === //

  // Partner Banner Section
  .industrie__banner.sec--partner--banner .banner__inner {
    gap: 50px;
    display: block;

    .banner__image {
      width: 100% !important;
      margin-bottom: 55px;

      svg {
        width: 585px;
      }
    }

    .banner__text {
      width: 100% !important;
    }
  }

  .sec__submit__message .sec__content {
    display: block;
  }

  .breadcrums {
    display: none !important;
  }

  // career page responsive start
  .grow__sec {
    .sec__content__inner {
      flex-direction: column;
      gap: 50px;

      .sec__img,
      .sec__text {
        width: 100%;
      }

      .sec__text {

        .email__resume,
        .sec__brief {
          max-width: 100%;
        }
      }

      .sec__img {
        text-align: center;
      }
    }
  }

  // career page responsive end

  // Submit Section Massege 767px
  .sec__submit__message .sec__content .sec__text {
    margin-bottom: 40px;
  }

  // Hero Section Css 1200px
  .tmb__hero__sec .hero__content {
    grid-template-columns: 1fr;
    text-align: center;

    .hero__txt {
      grid-row: 2;
    }
  }

  .crd__grid__item .crd__content {
    padding: 40px 30px;
  }

  .hero__txt {
    margin-top: 57px;
  }

  .tmb__globel__sec .sec__heading {
    font-weight: 700;
  }

  // about us page responsive start

  .about__banner {
    .sec__content {
      .sec__content__inner {
        flex-direction: column;
        gap: 50px;

        .sec__image,
        .sec__text {
          width: 100%;
        }

        .sec__image {
          text-align: center;
        }
      }
    }
  }

  .team__sec .swiper-slide .member__info {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  // about us page responsive start
  // === RESPONSIVE CSS 991PX END === //
  .sec__service .tabs__content {
    max-width: 100%;
  }

  .sec__podcast__about .sec__content {
    gap: 40px;
  }

  // podcast responsive css
  .recent__episodes {
    .sec__head {
      .sec__heading {
        text-align: start;
      }
    }

    .sec__content {
      .sec__content__inner {
        flex-direction: column;

        .episodes__wrapper,
        .form__wrapper {
          width: 100%;
        }
      }
    }
  }

  /* News Room Responsive 991px */
  .sec__news__room__tabs .news__room__tabs__Content .sec__text {
    position: initial;
  }

  .news-shadow,
  .social__link {
    display: none !important;
  }

  .sec__news__room__tabs .sec__header {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
  }

  .news__blog__content {
    background-color: #121625;
    border-radius: 10px;
  }

  .sec__news__room__tabs .grid__tabs {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

// === RESPONSIVE CSS 991PX END === //

// === RESPONSIVE CSS 767PX START === //
@media only screen and (max-width: 767px) {
  .image__wrapper {
    padding: 0 8px;
  }

  .trusted__logo__list .swiper-slide {
    width: 86px !important;
  }

  .trusted__logo__list {
    margin: 0;
  }

  // footer responsive css 767px
  .container {
    padding: 0 30px;
  }

  .career__banner__sec {
    overflow: hidden;

    .bg-element {
      top: 10%;
      left: 50%;
      transform: translateX(-50%) scale(3);
    }
  }

  .sec__content__wrapper {
    .sec__content {
      .sec__content__inner {
        .sec__heading {
          font-weight: 700;
          width: calc(100% + 12px);
          margin-left: -6px;
        }

        .policy__sub__heading.mt-70 {
          font-weight: 500;
        }
      }
    }
  }

  .sec__content__wrapper.wrapper-modifier {
    padding-top: 0;
  }

  .copywrite__text {
    flex-direction: column-reverse;
  }

  .footer__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__text .footer__text__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Service Responsive 991px */

  .service__bottom__img svg {
    height: auto;
    transform: scale(1.5);
    padding-block: 50px;
  }

  .service__bottom__img {
    width: calc(100% + 60px) !important;
    margin-left: -30px;
    overflow: hidden;
  }

  .sec__service .service__faq {
    padding-top: 51px;
  }

  .sec__service .service__faq .container {
    gap: 0px;
  }

  .service__faq {
    padding-bottom: 30px;
  }

  .sec__service .tabs__button {
    margin-bottom: 28px;
  }

  .sec__service .sec__heading {
    margin-bottom: 30px;
  }

  .sec__service .tabs__content .sec__item li {
    margin-bottom: 15px;
  }

  .tabs__button.active~.sec__img .tabs__content {
    display: block;
  }

  .sec__service .faq__ques {
    padding: 10px 0;
  }

  // === Industries CSS 767PX end === //
  .sec__service .sec__text {
    position: inherit;
  }

  .industries__tabs__button {
    text-align: start;
    position: relative;
  }

  .tabs__button,
  .industries__tabs__button {
    .tabs__button {
      border-bottom: 1px solid #d4dbfc !important;
      width: 100%;
      padding-bottom: 25px;
      position: relative;
    }

    .tabs__button::after,
    .industries__tabs__button::before,
    .industries__tabs__button::after,
    .tabs__button::before {
      content: "";
      position: absolute;
      right: 0;
      top: calc(50% - 12.5px);
      transform: translateY(-50%);
      height: 2px;
      width: 16px;
      background-color: #babfc5;
    }

    .tabs__button::before,
    .industries__tabs__button::before {
      .tabs__button.active::before {
        transform: rotate(90deg);
      }

      .tabs__button.active::before,
      .industries__tabs__button.active::before {
        transform: rotate(0deg);
      }

      // === Industries CSS 767PX end === //
      .sec__why__edge .edge__features ul li {
        margin-bottom: 20px;
      }

      .sec__service .sec__item ul {
        margin-left: 10px;
      }

      .sec__service .sec__content {
        padding-top: 150px;
      }

      .sec__service .tabs__button,
      .sec__service .industries__tabs__button {
        font-size: 20px;
      }

      .sec__service.sec--industries .sec__content {
        padding-top: 100px;
      }

      .sec__service .tabs__content .sec__heading,
      .sec__service .tabs__content .sec__brief {
        font-size: 30px;
      }

      .sec__service .tabs__content .sec__item li {
        font-size: 20px;
        font-weight: 500;
      }

      .tabs__button.active~div {
        display: block;
      }

      .service__bottom__img svg {
        height: auto;
        transform: scale(1.5);
        padding-block: 50px;
      }

      .service__bottom__img {
        width: calc(100% + 60px) !important;
        margin-left: -30px;
        overflow: hidden;
      }

      .sec__service .service__faq {
        padding-top: 51px;
      }

      .sec__service .service__faq .container {
        gap: 0px;
      }

      .service__faq {
        padding-bottom: 30px;
      }

      .sec__service .tabs__button {
        margin-bottom: 28px;
      }

      .sec__service .sec__heading {
        margin-bottom: 30px;
      }

      .sec__service .tabs__content .sec__item li {
        margin-bottom: 15px;
      }

      .sec__service .faq__ques {
        padding: 10px 0;
      }

      // === Industries CSS 767PX end === //
      .tabs__content.industries--tabs {
        position: initial;
        max-width: 100%;
      }

      .sec__service.sec--industries .sec__text {
        width: 100%;
      }

      .sec__service.sec--industries .sec__text {
        padding-right: 0;
      }

      .tabs__content.industries--tabs {
        margin-bottom: 40px;
      }

      .sec__why__edge .edge__features ul li {
        margin-bottom: 20px;
      }

      .sec__service .sec__item ul {
        margin-left: 10px;
      }

      .sec__service .sec__content {
        padding-top: 150px;
      }

      .sec__service .tabs__button,
      .sec__service .industries__tabs__button {
        font-size: 20px;
      }

      .sec__service.sec--industries .sec__content {
        padding-top: 100px;
      }

      .sec__service .tabs__content .sec__heading,
      .sec__service .tabs__content .sec__brief {
        font-size: 30px;
      }

      .sec__service .tabs__content .sec__item li {
        font-size: 20px;
        font-weight: 500;
      }

      .faq__ques {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
      }

      .faq__ans {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
      }

      .sec__service .faq__heading {
        font-size: 45px;
      }

      .sec__why__edge .sec__heading {
        padding-bottom: 50px;
      }

      .sec__why__edge .edge__features ul {
        margin-top: 60px;
      }

      .sec__why__edge .edge__features ul li {
        font-size: 20px;
      }

      .sec__service .tabs__content {
        max-width: 100%;
      }

      .tabs__content.industries--tabs .tabs__heading {
        font-size: 25px;
      }

      .sec__service .sec__text {
        width: 100%;
        padding-right: 0;
      }

      // Section Best Solution 767px */
      .sec__best__solution .sec__heading {
        font-size: 30px;
        padding-bottom: 30px;
      }

      .sec__best__solution .sec__best__solution__items {
        padding-top: 100px;
      }

      .sec__best__solution .sec__best__solution__items li {
        margin-bottom: 30px;
        font-size: 20px;
      }

      .sec__best__solution {
        padding-bottom: 100px;
      }
    }
  }

  // career page responsive css start
  .featured__tabs {
    .sec__content__inner {
      max-width: 100%;

      .tabs {
        .tab__btn {
          width: 100%;
        }

        .tab__content {
          position: static;
          transform: none;
          width: 100%;

          .tab__content__inner {
            padding: 0;
            max-width: 100%;
          }
        }

        .btn.active+div {
          margin-top: 35px;
        }
      }
    }
  }

  // career page responsive css end
  .sec__service .tabs__button,
  .sec__service .industries__tabs__button {
    font-size: 20px;
  }

  .sec__service.sec--industries .sec__content {
    padding-top: 100px;
  }

  .sec__service .tabs__content .sec__heading,
  .sec__service .tabs__content .sec__brief {
    font-size: 30px;
  }

  .sec__service .tabs__content .sec__item li {
    font-size: 20px;
    font-weight: 500;
  }

  .faq__ques {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  .faq__ans {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }

  .sec__service .faq__heading {
    font-size: 45px;
  }

  .sec__why__edge .sec__heading {
    padding-bottom: 50px;
  }

  .sec__why__edge .edge__features ul {
    margin-top: 60px;
  }

  .sec__why__edge .edge__features ul li {
    font-size: 20px;
  }

  .tabs__content.industries--tabs .tabs__heading {
    font-size: 25px;
  }

  .sec__service .sec__text {
    width: 100%;
    padding-right: 0;
  }

  // Section Best Solution 767px */
  .sec__best__solution .sec__heading {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .sec__best__solution .sec__best__solution__items {
    padding-top: 100px;
  }

  .sec__best__solution .sec__best__solution__items li {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .sec__best__solution {
    padding-bottom: 100px;
  }

  // career page responsive css start
  .featured__tabs {
    .sec__content__inner {
      max-width: 100%;

      .tabs {
        .tab__btn {
          width: 100%;
        }

        .tab__content {
          position: static;
          transform: none;
          width: 100%;

          .tab__content__inner {
            padding: 0;
            max-width: 100%;
          }
        }

        .btn.active+div {
          margin-top: 35px;
        }
      }
    }
  }

  // career page responsive css end

  // sustain page responsive css start
  .sustainable__banner .bg-element {
    top: 3%;
    transform: scale(1.5);
  }

  .initiatives__sec {
    .sec__head {
      .sec__heading {
        padding: 0;
      }
    }

    .sec__content {
      .sec__content__inner {
        flex-direction: column;
        gap: 40px;

        .numbring__text {
          .numbring {
            margin: 0;
          }
        }
      }
    }
  }

  // sustain page responsive css end

  // policy pages responsive start
  .sec__content__wrapper {
    padding: 25px 0;

    .sec__content {
      .sec__content__inner {
        flex-direction: column;
        gap: 40px;

        .numbring__text {
          .numbring {
            margin: 0;
          }
        }
      }
    }
  }

  // sustain page responsive css end

  // policy pages responsive start
  .sec__content__wrapper {
    padding: 50px 0;

    .sec__content__wrapper {
      padding: 25px 0;

      .policy__text {
        padding: 0;
      }
    }
  }

  // policy pages responsive end

  //  Partner Section Css 767px
  .industrie__banner.sec--partner--banner .banner__inner .banner__image svg {
    width: 450px;
  }

  .crd__grid__item .crd__content {
    padding: 25px 25px;
  }

  .globel__point__item svg {
    width: 12px;
    height: 12px;
  }

  .globel__point__item {
    gap: 8px;
  }

  .tmb__deploy__sec {
    padding: 100px 0 100px;
  }

  .testimonial {
    padding: 100px 0 100px;
  }

  // about us page start
  .about__banner {
    padding: 50px 0 25px;
  }

  // about us page end

  // Brodcast banner Section 767px
  .brodcast__detail__banner .sec__content {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    .sec__img {
      order: 1;
      text-align: center;
    }

    .sec__text {
      order: 2;
      width: 100%;
    }
  }

  .social__media {
    display: none !important;
  }

  .social__inner.watch-now {
    display: block;
  }

  .social__icon {
    justify-content: space-between;
  }

  .brodcast__detail__banner .social__inner {
    border: none;
    padding-inline: 0;
  }

  .social__inner.watch-now.active~.social__media {
    display: block !important;
    position: absolute;
    right: 0;
    transform: translateY(70px);
    background: #000;
    text-align: center;
    max-width: 280px;
    padding: 23px;
    z-index: 2;

    .social__inner {
      justify-content: space-between;
    }
  }

  .brodcast__detail__banner .social__inner.watch-now {
    display: flex;
  }

  .social__media.mobile {
    display: none;
  }

  .brodcast__detail__banner .social__inner.share__btn.desktop {
    display: flex;
  }

  // About Us Podcast 991px
  .sec__podcast__about .sec__content {
    display: block;
  }

  .sec__podcast__about .sec__img {
    max-width: 150px;
  }

  .sec__podcast__about .container {
    position: relative;

    .sec__img {
      position: absolute;
      right: 30px;
      top: 20px;
    }

    .sec__text {
      width: 100%;
    }
  }

  .sec__podcast__about .sec__heading {
    width: calc(100% - 100px);
  }

  .jp-type-playlist {
    position: relative !important;
    padding: 50px 20px 20px !important;
    width: calc(100% + 60px);
    margin-left: -30px;
  }

  // podcast page responsive start
  .podcast__banner__sec {
    padding: 444px 0 0px;
    padding-top: clamp(300px, 60vw, 495px);

    .bg__waves {
      img {
        top: 30%;
        transform: translateY(-50%) scale(0.7);
      }
    }

    .sec__content {
      .sec__content__inner {
        .sec__text {
          width: 100%;

          .sec__heading,
          .sec__info {
            text-align: center;
          }

          .sec__heading {
            width: calc(100% + 50px);
            margin-left: -25px;
          }
        }
      }
    }
  }

  .mobile-view {
    display: block !important;
    width: 100%;
    opacity: 0.4;
  }

  .desktop-view {
    display: none;
  }

  .jp-toggles {
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.4s;
  }

  #filterBtn {
    display: block !important;
  }

  .jp-toggles.show {
    opacity: 1;
    height: auto;
    visibility: visible;
    overflow: visible;
    padding-top: 8px !important;
  }

  .jp-progress {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    padding: 0 30px;
  }

  .jp-duration,
  .jp-current-time {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 0 30px;
  }

  .jp-current-time {
    right: auto;
    left: 0;
  }

  .jp-controls-holder {
    text-align: center;
  }

  .jp__jplayer__wrapper,
  .seek__bar__wrapper,
  .jp-gui {
    width: auto !important;
  }

  .jp-type-playlist {
    justify-content: space-between;
  }

  .jp-type-playlist .jp-controls {
    gap: 10px;
  }

  .jp-type-playlist .jp__jplayer__wrapper {
    gap: 8px;
  }

  .jp-type-playlist .jp-jplayer {
    width: 50% !important;
  }

  .jp-type-playlist #jp_poster_0,
  .jp-type-playlist #jp_video_0 {
    width: 37px !important;
    height: 37px !important;
  }

  .jp-state-full-screen {
    .jp-type-playlist {
      width: 100%;
      margin: 0;
    }
  }

  .recent__episodes {
    padding: 50px 0;
  }

  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .load__more__btn .primary-btn {
    width: 100%;
  }

  .recent__episodes .sec__content .sec__content__inner .form__wrapper .podcast__form {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .episode__inner .episode__head .date {
    color: #6f6f6f;
  }

  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .episode__inner {
    padding: 20px 0;
  }

  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .episode__inner .episode__head .episode__heading {
    font-weight: 400;
  }

  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .episode__inner:not(:last-child) {
    margin-bottom: 0;
  }

  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .episode__inner {
    position: relative;

    &::after {
      content: "";
      background-color: #1d212e;
      width: calc(100% + 60px);
      height: 1px;
      margin-left: -30px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .episode__inner .info,
  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .episode__inner .episode__text .jp__time,
  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .episode__inner .episode__text .jp-seek-bar {
    display: none;
  }

  .recent__episodes .sec__content .sec__content__inner .form__wrapper .podcast__form .podcast__form__group .input__feild input {
    padding: 10px;
  }

  .recent__episodes .sec__content .sec__content__inner .episodes__wrapper .episode__inner .episode__head {
    flex-direction: column;
    align-items: flex-start;
  }

  .recent__episodes .sec__content .sec__content__inner {
    gap: 128px;
  }

  .recent__episodes .sec__content .sec__content__inner .timing.timing-modifier {
    display: block;
  }

  .date__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
  }

  // podcast page responsive end
  .sec__news__room__tabs .sec__header .sec__news_room__tabs {
    gap: 10px;
  }

  .sec__news__room__tabs {
    .news__room__tabs__Content .sec__text {
      padding: 20px 15px;

      .sec__heading__text {
        margin-bottom: 20px;
      }
    }
  }

  .sec__news__room__tabs {
    .profile img {
      width: 24px;
    }

    .date img {
      width: 18px;
    }
  }

  .sec__news__room__tabs .news__room__tabs__Content .sec__text .tabs__date {
    gap: 40px;
  }
}

// === RESPONSIVE CSS 767PX end === //

// === RESPONSIVE CSS 576PX START === //
@media only screen and (max-width: 576px) {

  // header responsive css start
  .header__logo img {
    width: 138px;
    height: 28px;
  }

  nav.nav__list {
    top: 93px;
  }

  .sec__service .tabs__button,
  .sec__service .industries__tabs__button {
    font-size: 16px;
  }

  .sec__service .tabs__content .sec__heading,
  .sec__service .tabs__content .sec__brief {
    font-size: 25px;
    line-height: 35px;
  }

  .sec__service .tabs__content .sec__item li {
    font-size: 16px;
  }

  .faq__ques,
  .faq__ans {
    font-size: 16px !important;
    font-weight: 700;
    line-height: 20px;
  }

  .sec__service .faq__heading {
    font-size: 41px;
  }

  .sec__why__edge .sec__heading {
    padding-bottom: 40px;
  }

  .sec__why__edge .edge__features ul {
    margin-top: 50px;
  }

  .sec__why__edge .edge__features ul li {
    font-size: 16px;
    font-weight: 700;
  }

  .tabs__content.industries--tabs .tabs__heading {
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
  }

  .tabs__content.industries--tabs .read__more__service {
    margin-top: 40px;
  }

  .tabs__content.industries--tabs .read__more__service {
    font-size: 20px;
  }

  // Section Best Solution 767px */
  .sec__best__solution .sec__heading {
    font-size: 25px;
    padding-bottom: 20px;
    line-height: 35px;
  }

  .sec__best__solution .sec__best__solution__items {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
  }

  .sec__best__solution .sec__best__solution__items li {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 50%;
  }

  .sec__best__solution {
    padding: 57px 0 50px;
  }

  .sec__submit__message .sec__content .sec__message__box input {
    padding-top: 0;
  }

  //  Partner Section Css 767px
  .industrie__banner.sec--partner--banner .banner__inner .banner__image svg {
    width: 350px;
    height: 300px;
    padding: 0;
  }

  .industrie__banner.sec--partner--banner .banner__inner .banner__image {
    display: flex;
    justify-content: center;
  }

  .sec__submit__message .sec__content .sec__message__box .sec__heading span {
    margin: 0 0px 0 3px;
  }

  /* Index  Page Responsive 575px */
  .crd__grid__item .crd__content {
    padding: 16px 20px;
  }

  .globel__sec__content {
    gap: 10px;
  }

  .tmb__deploy__sec {
    padding: 0px 0 0px;
  }

  .trusted__sec {
    padding-top: 41px;
  }

  .tmb__deploy__sec .sec__heading {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
  }

  .deploy__detail h3,
  .deploy__detail .normal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .deploy__detail .gradient-text {
    font-size: 41px;
  }

  .deploy__detail {
    margin-top: 20px;
  }

  .trusted__sec .sec__heading {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
  }

  .trusted__txt__subheading {
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .info__crd__sec {
    padding: 50px 0 25px;
  }

  .testimonial__list {
    margin-top: 0 !important;
  }

  .info__crd__sec {
    .sec__heading {
      font-size: 25px;
      line-height: 35px;
    }

    .info__crd__txt {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .testimonial {
    padding: 0px 0 50px;
  }

  .testimonial .sec__heading {
    font-size: 25px;
    line-height: 35px;
  }

  .testimonial__grid .sec__brief {
    font-weight: 400;
  }

  .testimonial__img img {
    max-width: 140px;
    height: 140px;
  }

  .testimonial__list {
    margin-top: 30px;
  }

  /* Contact-Form */
  .contact--us--sec h2.sec__heading span {
    display: block;
    margin-top: 20px !important;
  }

  // .brodcast__detail__banner .social__inner {
  //   max-width: 112px;
  // }
  .social__inner {
    gap: 10px;
    justify-content: initial;
  }

  .social__inner img {
    width: 20px;
  }

  .sec__service.sec--industries .sec__content {
    padding-top: 0;
  }

  .sec__podcast__about {
    .sec__inner__brief {
      font-weight: 400;
    }
  }

  .sec__podcast__about .sec__img {
    max-width: 77px;
  }

  .sec__podcast__about .sec__heading {
    width: calc(100% - 50px);
  }

  /* Section Podcast Summary */
  .sec__podcast__summary .sec__header .sec__heading {
    font-weight: 500;
  }

  .deploy__sec__img svg {
    position: absolute;
    top: 10px;
    left: 54px;
  }
}

// === RESPONSIVE CSS 575PX End === //

// === RESPONSIVE CSS 480PX START === //
@media only screen and (max-width: 480px) {

  //footer responsive css 480px
  main {
    padding-top: 93px;
  }

  nav.nav__list {
    top: 93px;
  }

  // common responsive css start
  .sec__brief {
    font-weight: 500;
  }

  // common responsive css end

  //footer responsive css 480px start
  .footer__text {
    svg {
      width: 71px;
      height: 15px;
    }
  }

  .footer__form {
    border-radius: 4px;

    .form__group {
      border-radius: 4px;
    }

    input {
      padding: 10px;
    }

    .submit__btn {
      max-width: 27%;
      width: 100%;
    }
  }

  .footer__form {
    border-radius: 4px;

    .form__group {
      border-radius: 4px;
    }

    input {
      padding: 10px;
    }

    .submit__btn {
      max-width: 27%;
      width: 100%;

      button {
        padding: 8px 15px;
        border-radius: 4px;
        margin: 2px 2px 2px -2px;
      }
    }
  }

  .tabs__content.industries--tabs .read__more__service {
    margin-top: 30px;
  }

  .tabs__content.industries--tabs .read__more__service {
    font-size: 16px;
  }

  //footer responsive css 480px end

  // === industrie Page start === //
  .industrie__banner {
    padding: 50px 0;

    .banner__inner {
      .banner__image {
        svg {
          padding: 0 21px;
        }
      }
    }
  }

  .how__its__work__sec {
    padding: 50px 0 77px;

    .sec__head {
      .sec__heading {
        font-weight: 700;
      }
    }

    .sec__content {
      padding: 0;

      ul {
        li {
          align-items: flex-start;
          padding: 20px 0 30px;

          .info,
          .sec__brief {
            color: #d4dbfc;
          }
        }
      }
    }
  }

  .contact__our__team__sec {
    padding: 50px 0;

    .sec__head {
      .sec__brief {
        padding: 0;
        font-size: 25px;
        line-height: 36px;
      }
    }

    .sec__content {
      .contact__btn {
        .primary-btn {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .faq__sec {
    padding: 50px 0;
  }

  // === industrie Page end === //

  // === career Page start === //
  .career__banner__sec {
    padding: 50px 0 50px;

    .sec__content__inner {
      .sec__image {
        svg {
          max-width: calc(100% + 60px);
          margin-left: -30px;
        }
      }
    }
  }

  .grow__sec {
    padding: 50px 0;

    .sec__content__inner {
      .sec__text {
        .email__resume {
          flex-direction: column;
          align-items: flex-start !important;
          gap: 0;
        }
      }
    }
  }

  .featured__tabs {
    padding: 50px 0;

    .sec__content__inner {
      .tabs {
        .tab__content {
          .sec__info {
            &::after {
              width: 100%;
            }
          }
        }
      }

      .apply__btn {
        .primary-btn {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  // === career Page end === //

  // === sustain Page start === //
  .sustainable__banner {
    padding: 50px 0;
  }

  .initiatives__sec {
    padding: 50px 0;
  }

  // === sustain Page end === //
  //  Partner Section Css 767px
  .industrie__banner.sec--partner--banner .banner__inner .banner__image svg {
    width: 300px;
  }

  // about us page responsive start
  .about__banner {
    padding: 50px 0 50px;
  }

  .founders__sec {
    padding: 50px 0;

    .sec__content {
      .sec__content__inner {
        .sec__image {
          flex-direction: column;
          gap: 30px;

          .card:not(:last-child) {
            padding-right: 0;
          }

          .card {
            padding-bottom: 30px;
            width: 100%;
          }

          .flip-card {

            .flip-card-front,
            .flip-card-back {
              width: 150px;
            }
          }

          .flip-card-inner {
            display: inline-block;
          }
        }

        .sec__text {
          .sec__heading {
            max-width: calc(100% + 20px);
            width: calc(100% + 21px);
            margin-left: -10px;
          }
        }
      }
    }
  }

  .team__sec {
    padding: 141px 0 138px;

    .container {
      padding-right: 0;
      overflow: hidden;
    }

    .bg__element {
      display: block;
    }

    .swiper-slide.swiper-slide-next {
      .member__info {
        opacity: 1;
        visibility: visible;
        height: auto;
      }
    }

    .swiper-slide img {
      transform: scale(1) !important;
    }
  }

  .counter__sec {
    padding: 50px 0;

    .sec__content {
      .counter__grid {
        grid-template-columns: 1fr;
      }
    }
  }

  // about us page responsive end
  .sec__podcast__summary .sec__header {
    width: calc(100% + 60px);
    margin-left: -30px;
  }

  .summary__info {
    padding: 0;
    border: none;
  }

  .sec__podcast__summary::-webkit-scrollbar {
    background-color: #121625;
    width: 10px;
  }

  .sec__podcast__summary::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .summary__info::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
  }

  .summary__info::-webkit-scrollbar-thumb {
    background-color: #2a2e37;
    border-radius: 6px;
  }

  .summary__info {
    margin-top: 30px;
  }

  .summary__info p.sec__info {
    font-weight: 500;
  }

  .summary__info ul {
    margin: 20px 0 30px;
  }

  .testimonial__list {
    padding: 25px 0 25px;
  }

  .trusted__logo__list {
    top: 70%;
  }
}

// === RESPONSIVE CSS 480PX END === //

// === RESPONSIVE CSS 340PX START === //
@media only screen and (max-width: 340px) {
  .how__its__work__sec {
    padding: 50px 0 77px;

    .sec__head {
      .sec__heading {
        width: calc(100% + 20px);
        margin-left: -10px;
        text-align: center;
      }
    }
  }

  .social__inner.watch-now.active~.social__media {
    right: 50%;
    transform: translate(50%, 70px);
  }

  .logo__swiper {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .deploy__sec__img svg {
    left: 24px;
  }
}

// === RESPONSIVE CSS 340PX end === //