// === RESPONSIVE CSS 480PX START === //
@media only screen and (max-width: 480px) {
  //footer responsive css 480px
  .footer__text {
    svg {
      width: 71px;
      height: 15px;
    }
  }
  .footer__form {
    border-radius: 4px;
    .form__group {
      border-radius: 4px;
    }
    input {
      padding: 10px;
    }
    .submit__btn {
      max-width: 27%;
      width: 100%;
      button {
        padding: 8px 15px;
        border-radius: 4px;
        margin: 2px 2px 2px -2px;
      }
// === RESPONSIVE CSS 1200PX START === //
@media only screen and (max-width: 1200px) {
    // footer responsive max-width 1200px
    .footer{
        padding: 50px 0;
    }
    .footer__content {
        flex-direction: column;
        margin-bottom: 45px;
    }
    .submit__btn button {
        margin: 3px 3px 3px -3px;
        width: 100%;
    }
    .footer__text ,
    .footer__items__wrapper 
    {
        flex-direction: column;
    }
    .footer__text__inner,
    .footer__items__inner,
    form.footer__form 
    {
        width: 100%;
        max-width: 100%;
    }
}
// === RESPONSIVE CSS 1200PX END === //

// === RESPONSIVE CSS 991PX START === //
@media only screen and (max-width: 991px) {
    .toggle__btn{
        svg{
            display: block;
        }
    }
    .contact__btn{
        display: none;    
    }
    .col-lg-hide{
        display: block;
    }
    .header{
        top: 0;
        padding: 20px 0;
        background-color: #000;
    }
    nav.nav__list {
        position: absolute;
        background-color: #000;
        width: 100%;
        right: 0;
        top: 90px;
        height: 100%;
        min-height: 100vh;
        z-index: 9;
        left: auto;
        padding: 30px;
        transform: translateX(100%);
        transition: 0.4s;
    }
    .nav__list.show{
        transform: translateX(0);
    }
    .nav__list ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }
    .toggle__btn{
        svg.cross{
            path.first {
                transform: translateX(100%);
                opacity: 0;
                transition: 0.4s;
            }
            path.second{
                transform: translate(5px,-11px) rotate(45deg);
                transition: 0.4s;
            }
            path.third{
                transform: translate(0px,13px) rotate(-45deg);
                transition: 0.4s;
            }
        }
    }
  }
}
// === RESPONSIVE CSS 991PX END === //

// === RESPONSIVE CSS 1440PX START === //
@media only screen and (max-width: 1440px) {
  // Service responsive max-width 1400px
  .sec__service .service__banner__img img {
    width: 400px;
    height: 400px;
    margin-right: 160px;
  }

  // Faq responsive max-width 1400px
  .sec__service .service__faq .container {
    gap: 50px;
  }
}

// === RESPONSIVE CSS 1200PX START === //
@media only screen and (max-width: 1200px) {
  // footer responsive max-width 1200px
  .footer {
    padding: 50px 0;
  }
  .footer__content {
    flex-direction: column;
    margin-bottom: 45px;
  }
  .submit__btn button {
    margin: 3px 3px 3px -3px;
    width: 100%;
  }
  .footer__text,
  .footer__items__wrapper {
    flex-direction: column;
  }
  .footer__text__inner,
  .footer__items__inner,
  form.footer__form {
    width: 100%;
    max-width: 100%;
  }
  /* Service Responsive 1200px */
  .sec__service .sec__content {
    gap: 200px;
  }

  .sec__service .service__banner__img img {
    margin-right: 50px;
  }
}
// === RESPONSIVE CSS 1200PX END === //

// === RESPONSIVE CSS 991PX Start === //
@media only screen and (max-width: 991px) {
  /* Service Responsive 991px */
  .sec__service .sec__content {
    gap: 100px;
  }

  .sec__service .service__banner__img img {
    margin-right: 0px;
  }

  /* FAQ Responsive 991px */
  .sec__service .service__faq .container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .sec__service .service__banner__img img {
    width: 50%;
  }
  .sec__service .sec__text {
    width: 40%;
  }
}

// === RESPONSIVE CSS 991PX end === //

// === RESPONSIVE CSS 767PX START === //
@media only screen and (max-width: 767px) {
  // footer responsive css 767px
  .container {
    padding: 0 30px;
  }
  .copywrite__text {
    flex-direction: column-reverse;
  }
  .footer__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__text .footer__text__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Service Responsive 991px */
  .sec__service .sec__content {
    gap: 50px;
  }
  .sec__service .sec__text {
    padding-right: 50px;
  }
  .sec__service .sec__content {
    display: block;
  }
  .sec__service .sec__text {
    border-right: none;
  }

  .service__tabs.desktop__tabs {
    display: none;
  }

  .sec__service .service__tabs.mobile__tabs .tabs__button {
    display: block !important;
  }
  .service__banner__img {
    display: none;
  }
  .tabs__button.active ~ .sec__img .tabs__content {
    display: block;
  }
  .sec__service .tabs__item {
    display: block;
  }

  .sec__service .sec__text {
    position: inherit;
  }
  .tabs__button {
    border-bottom: 1px solid #d4dbfc !important;
    width: 100%;
    padding-bottom: 25px;
    position: relative;
  }

  .tabs__button::after,
  .tabs__button::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 16px;
    background-color: #babfc5;
  }
  .tabs__button.active::before {
    transform: rotate(90deg);
  }

  .tabs__item .sec__img,
  .tabs__item .service__bottom__img,
  .tabs__item .service__faq {
    display: none;
  }
  .tabs__button.active ~ div {
    display: block;
  }

  .service__bottom__img svg {
    height: 229px;
  }
  .sec__service .service__faq {
    padding-top: 51px;
  }
  .sec__service .service__faq .container {
    gap: 0px;
  }
  .service__faq {
    padding-bottom: 30px;
  }
  .sec__service .tabs__button {
    margin-bottom: 15px;
  }
  .sec__service .sec__heading {
    margin-bottom: 20px;
  }
  .sec__service .tabs__content .sec__item li {
    margin-bottom: 15px;
  }
  .sec__service .faq__ques {
    padding: 10px 0;
  }
}
// === RESPONSIVE CSS 767PX end === //

// === RESPONSIVE CSS 575PX START === //
@media only screen and (max-width: 575px) {
  // Service responsive css 575px
}

// === RESPONSIVE CSS 575PX End === //
// === RESPONSIVE CSS 576PX START === //
@media only screen and (max-width: 576px){
    .header__logo img {
        width: 138px; 
        height: 28px; 
    }
    nav.nav__list{
        top: 72px;
    }
}
// === RESPONSIVE CSS 576PX END === //

// === RESPONSIVE CSS 480PX START === //
@media only screen and (max-width: 480px){
    //footer responsive css 480px 
    .footer__text {
        svg{
            width: 71px;
            height: 15px;
        }
    }
    .footer__form {
        border-radius: 4px;
        .form__group{
            border-radius: 4px;
        }
        input {
            padding: 10px;
        }
        .submit__btn{
            max-width: 27%;
            width: 100%;
            button {
                padding: 8px 15px;
                border-radius: 4px;
                margin: 2px 2px 2px -2px;
            }
        }
    }
}
// === RESPONSIVE CSS 480PX END === //



