/* Service Banner Css Code */
.sec__service {
  .service__tabs.mobile__tabs .tabs__button {
    display: none;
  }

  .sec__content {
    padding-top: 200px;
  }
  .sec__content.service__content {
    position: relative;
  }
  .tabs__content .sec__heading {
    font-size: 41px;
  }

  .tabs__content .sec__brief {
    font-size: 41px;
    color: #babfc5;
  }
  .sec__item ul {
    margin-left: 25px;
  }
  .sec__item li {
    list-style: disc;
  }

  .tabs__content .sec__item ul {
    margin-top: 36px;
  }
  .tabs__content .sec__item li {
    color: #babfc5;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 29px;
  }

  .tabs__item.active {
    display: block;
  }

  .tabs__item {
    display: none;
    .service__banner__img {
      display: block;
    }
  }

  .tabs__content {
    max-width: 55%;
    margin: 0 0 0 auto;
  }
  .sec__heading {
    color: #fff;
    font-weight: 500;
    margin-bottom: 55px;
  }
  .tabs__button,
  .industries__tabs__button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 41px;
  }
  .sec__text {
    border-right: 2px solid #d4dbfc;
    padding-right: 100px;
    width: 29%;
    position: absolute;
  }
  .sec__img {
    width: 71%;
  }

  ::marker {
    color: #7970e1bf;
  }

  .service__banner__img {
    text-align: end;
  }
  .service__banner__img  svg {
    width: 682px;
    height: 678px;
  }
  .service__tabs li:last-child .tabs__button {
    margin-bottom: 0;
  }

  .service__tabs.mobile__tabs .sec__img {
    width: 100%;
  }
  .service__tabs .tabs__button {
    text-align: start;
  }
  .service__bottom__img {
    margin-top: 50px;
    svg {
      width: 100%;
    }
  }

  .tabs__button.active,
  .industries__tabs__button.active {
    background: linear-gradient(
      to right,
      #d177a5 0%,
      #7a70e1 48%,
      #7ea9c2 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Faq Css Code */

  .service__faq {
    padding-top: 111px;
  }

  .faq__list {
    max-width: 900px;
  }

  .faq__ques {
    font-size: 25px;
    font-weight: 800;
    color: #d4dbfc;
    position: relative;
    line-height: 30px;
    padding: 25px 30px 25px 0;
    display: flex;
    align-items: start;
  }
  .faq__ans {
    transition: 0.3s;
    height: 0;
    font-weight: 500;
    overflow: hidden;
    font-size: 25px;
    color: #6f6f6f;
    line-height: 36px;
    margin-left: 34px;
  }

  .service__faq .container {
    padding-inline: 0;
  }
  .faq__ques span {
    color: #6f6f6f;
    margin-right: 15px;
    display: block;
  }
  .faq__ques.active span {
    background: linear-gradient(
      to right,
      #d177a5 0%,
      #7a70e1 48%,
      #7ea9c2 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .faq__ans.p__txt {
    color: #6f6f6f;
  }
  .service__faq .container {
    display: flex;
    align-items: center;
    gap: 221px;
  }
  .faq__heading {
    font-size: 109px;
    font-weight: 500;
    color: #fff;
  }
}

/* Industries Image */
.tabs__content.industries--tabs {
  text-align: start !important;
  .tabs__heading {
    font-size: 41px;
    font-weight: 700;
    color: #fff;
  }
  .read__more__service {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 12px 25px;
    background-color: #2940d3;
    margin-top: 75px;
  }
}
.industries__tabs__button.active + div {
  display: block;
}
.industries--tabs {
  display: none;
}

.sec__service.sec--industries {
  position: relative;
  overflow: hidden;
}

.tabs__content.industries--tabs {
  position: absolute;
  right: 120px;
  top: 200px;
  max-width: 50%;
}
/* Section Why Edge Css Code */
.sec__why__edge {
  padding: 203px 0 244px;

  .sec__heading {
    color: #fff;
    border-bottom: 2px solid #d4dbfc;
    padding-bottom: 77px;
  }
  .edge__features ul {
    max-width: 650px;
    margin: 66px auto 0 715px;

    li {
      font-size: 25px;
      color: #d4dbfc;
      margin-bottom: 40px;
      font-weight: 800;
    }
  }
}

.sec__service.sec--industries {
  .sec__text {
    position: inherit;
  }
  .sec__content {
    display: flex;
  }
}

.global__network {
  margin-top: 150px !important;
}


.service__banner__img svg #Layer_1-2 path{
  opacity: 0;
}

@keyframes HeroSnake {
  0%{
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
@keyframes HeroSnakeSvg {
  100% {
    transform: rotate(360deg);
  }
}

.service__banner__img svg{
  animation: HeroSnakeSvg 30s linear infinite forwards;
}
@for $i from 1 through 204 {
  .service__banner__img svg.active #Layer_1-2 path:nth-child(#{$i}) {
    animation: HeroSnake 1s linear ($i * 0.01)+s  forwards;
  }
}